@model ccbs.Models.HomeGallery
@{
    ViewBag.Title = "Delete";
}
<div id="content">
    <h2>
        删除</h2>
    <h3>
        确定要删除这张图片吗?</h3>
    <fieldset>
        <legend>Home Gallery</legend>
        <div class="display-label">
            图片</div>
        <div class="display-field">
            <img src="@ccbs.Controllers.HomeGalleryController.ToThumbnailPath(Model.Picture)" alt="@Model.Title"/>
        </div>
        <div class="display-label">
            标题</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="display-label">
            描述</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="display-label">
            链接</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HyperLink)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" />
            |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
