@model IEnumerable<ccbs.Models.News>
@{
    ViewBag.Title = "工作流程展示";
    bool IsPrivileged = User.IsInRole(ccbs.Models.LWSFRoles.admin) || User.IsInRole(ccbs.Models.LWSFRoles.coworker);
}
<div id="content">
    <div class="box">
        <h2>
            我们的工作流程展示</h2>
        @if (IsPrivileged)
        {
            <p>
                @Html.ActionLink("添加", "Create")
            </p>
        }
        <div class="arrowLinks">
            <ul>
                @foreach (var item in Model)
                {

                    <li>@Html.ActionLink(item.Title, "Details", new { id = item.Id }) <span style="padding-left: 30px;">@Html.DisplayFor(modelItem => item.UpdateDate)</span>
@*                        @if (IsPrivileged)
                        {

                            <span style="padding-left: 30px;" id="arrowLinksFree">@Html.ActionLink("编辑", "Edit", new { id = item.Id })
                                |
                                @Html.ActionLink("删除", "Delete", new { id = item.Id })</span>
                        }*@
                    </li>
                }
            </ul>
        </div>
    </div>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
