@model ccbs.Models.Meeting
@{
    ViewBag.Title = "删除会议记录";
}
<div id="content">
    <div>
        @Html.ActionLink("返回", "Index")
    </div>
    <div>
        <h3>
            Are you sure you want to delete this?</h3>
        <fieldset>
            <legend>删除会议记录</legend>
            <div class="display-label">
                会议日期</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Date)
            </div>
            <div class="display-label">
                参与人数</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.NumOfAtt)
            </div>
            <div class="display-label">
                人员名单</div>
            <div class="display-field">
                <textarea rows="4" cols="80" readonly="readonly" class="text-area-display">@Model.AttNames</textarea>
            </div>
            <div class="display-label">
                会议议题</div>
            <div class="display-field">
                @Html.TextAreaFor(model => model.Agenda)
                <textarea rows="10" cols="80" readonly="readonly" class="text-area-display">@Model.Agenda</textarea>
            </div>
            <div class="display-label">
                会议纪要</div>
            <div class="display-field">
                <textarea rows="20" cols="80" readonly="readonly" class="text-area-display">@Model.Content</textarea>
            </div>
        </fieldset>
        @using (Html.BeginForm())
        {
            <p>
                <input type="submit" value="删除" />
                |
                @Html.ActionLink("返回", "Index")
            </p>
        }
    </div>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
