@model ccbs.Models.Article
@{
    Layout = null;
    bool IsEditor = (User.IsInRole(ccbs.Models.LWSFRoles.admin) || User.IsInRole(ccbs.Models.MyRoles.baikeEditor));
    string typeAndId = ccbs.Models.TreeNodeType.ArticleItem.ToString() + "," + Model.Id.ToString();
    string sharedUrl = Url.Action("Index", "Article", null) + "#"+typeAndId;
}
<div>
    <h4 style="text-align: center;">@Model.Title</h4>
    <br />
    <div style="float: left;">
        <span style="color: Orange;"><b>点击量: @Model.VisitCount</b></span>
    </div>
    <div class="fb-like" data-href="@sharedUrl"
        data-width="90" data-show-faces="false" data-send="true" style="float: left;
        padding-left: 20px;">
    </div>
    @if (IsEditor)
    {
        <div style="float: left; padding-left: 40px;">
            <span>@Html.ActionLink("编辑", "EditArticle", new { id = Model.Id }) | @Html.ActionLink("删除", "DeleteArticle", new { id = Model.Id })</span>
        </div>
    }
    <br class="clearfix" />
    <br />
</div>
<div class="display-content">
    @Html.Raw(Model.MainContent)
</div>
<div>
    @{Html.RenderPartial("_ArticleComment", Model);}
</div>
<script type="text/javascript">
    function updateLikeArticleCnt(articleId) {
        $('#likeArticleCount').load('/Article/UpdateArticleLikeCount?articleId=' + articleId, function () {
            document.getElementById("LikeArticle").onclick = function () { alert("You've already like it!") };
        });
    }
</script>
