@model ccbs.Models.SubDirectory
@{
    Layout = null;
    bool IsEditor = (User.IsInRole(ccbs.Models.LWSFRoles.admin) || User.IsInRole(ccbs.Models.MyRoles.baikeEditor));
}
<h4 style="text-align: center;">@Model.Name</h4>
<br />
@if (IsEditor)
{
    <span>
        @Html.ActionLink("编辑目录", "EditDirectory", new { id = Model.Id }) |
        @Html.ActionLink("删除目录", "DeleteDirectory", new { id = Model.Id }) |
        @Html.ActionLink("创建子目录", "CreateDirectory", new { topDirId = Model.Id }) |
        @Html.ActionLink("新建帖子", "CreateArticle", new { topDirId = Model.Id })
    </span>
}
<br />
<br />
<div class="display-content">
    @Html.Raw(Model.Description)
</div>
