@model ccbs.Models.Volunteer
<ul>
    <li style="padding: 5px;">Usefull Links</li>
    <li style="padding: 5px;">
        @Html.ActionLink("Select New Task for Me", "NewStudentList", "StudentMinistry", null, null)
    </li>
    <li style="padding: 5px;">
        @Html.ActionLink("Show Others' Selection List", "ShowGroupMembersInfo", "StudentMinistry", null, null)
    </li>
    <li style="padding: 5px;">
        @Html.ActionLink("Go to My Homepage", "VolunteerHome", "StudentMinistry", null, null)
    </li>
    @if (User.IsInRole("GroupLeader"))
    {
        <li style="padding: 5px;">
            @Html.ActionLink("Manage My Group", "ManageGrp", "VolunteerGroup", new { grpId = Model.VolunteerGroupId }, null)
        </li>
    }
    @if (User.IsInRole("OrganizationLeader"))
    {
        <li style="padding: 5px;">
            @Html.ActionLink("Manage My Organization", "ManageOrg", "VolunteerOrganization", new { orgId = Model.VolunteerGroup.Orgnization.Id }, null)
        </li>
    }
    <li style="padding: 5px;">
        @Html.ActionLink("Useful Documents Download", "Download", "Home")
    </li>
    <li style="padding: 5px;">
        <a href="../../Download/接待家庭事務流程簡要說明.docx">接待家庭事務流程简介</a>
    </li>
</ul>
