@model List<ccbs.Models.LocalHelp>
@{
    Layout = null;
    ccbs.Models.Volunteer currVolunteer = ViewBag.currVolunteer;
    bool isAuthorizedAdmin = User.IsInRole(ccbs.Models.LWSFRoles.organizationLeader) || User.IsInRole(ccbs.Models.LWSFRoles.admin);
}
<div>
    @foreach (var localhelp in Model)
    {
        <div class="box">
            <div>
                <div style="float: left;">
                    <h4>@Html.ActionLink(localhelp.Title, "LocalhelpDetails", "LocalHelp", new { id = localhelp.Id }, new { title = "点击查看详细介绍" })</h4>
                </div>
                <div style="float: left; padding-left: 40px;">
                    @if (localhelp.Volunteers.Contains(currVolunteer))
                    {
                        <span class="button-simulator">@Html.ActionLink("取消帮助", "VolunteerCancelLocalHelp", "LocalHelp", new { Lid = localhelp.Id, Vid = currVolunteer.Id, returnUrl = Request.RawUrl }, new { title = "取消我的帮助" })</span>
                    }
                    else
                    {
                        <span class="button-simulator">@Html.ActionLink("我愿提供帮助", "VolunteerOfferLocalHelp", "LocalHelp", new { Lid = localhelp.Id, Vid = currVolunteer.Id, returnUrl = Request.RawUrl }, new { title = "我要提供帮助" })</span>
                    }
                </div>
                @if (isAuthorizedAdmin)
                {
                    <div style="float: left; padding-left: 20px;">
                        <span class="button-simulator">@Html.ActionLink("志愿者名单", "VolunteerRegisterDetails", "LocalHelp", new { localhelpId = localhelp.Id }, new { title = "已经报名志愿者名单(仅管理员可见)" })</span>
                    </div>
                }
            </div>
            <br class="clearfix" />
            <br />
            <div class="display-content">
                @Html.Raw(HttpUtility.HtmlDecode(localhelp.Description))
            </div>
        </div>
    }
</div>
