@{
    Layout = null;
    bool isAuthorizedAdmin = ViewBag.isAutorizedAdmin;
    List<ccbs.Models.RegisterEntry> comingregs = ViewBag.comingregs;
    List<ccbs.Models.RegisterEntry> historicalregs = ViewBag.historicalregs;
    ccbs.Models.NewStudent currentStudent = ViewBag.currentStudent;
    int localhelpId = ViewBag.localhelpId;
    int totalCount = ViewBag.totalCount;
}
<div>
    <h4>
        日程安排
        @if (isAuthorizedAdmin)
        {
            <span>&nbsp&nbsp @Html.ActionLink("Add", "CreateRegisterEntry", "LocalHelp", new { localhelpId = localhelpId }, new { title = "添加新的日程" })<br />
            </span>
        }
    </h4>
    @if (comingregs != null && comingregs.Count > 0)
    {
        if (isAuthorizedAdmin)
        {
        <p style="color: Green;">
            总报名人数: @totalCount</p>
        }
        <div style="padding-left: 20px;">
            <ul>
                @foreach (var sched in comingregs)
                {
                    <li style="padding-top: 10px;">
                        <p>
                            时间: @sched.Time.ToString("MM/dd/yyyy hh:mm tt")</p>
                        <p>
                            地点: @sched.Address</p>
                        <p>
                            联系人: @sched.Contact</p>
                        @if (sched.IsActive)
                        {
                            <div style="float: left;">
                                @if (currentStudent == null)
                                {
                                    <span class="button-simulator">@Html.ActionLink("报名", "GuestRegister", "LocalHelp", new { registerEntryId = sched.Id }, new { title = "点击我要报名参加" })</span>
                                }
                                else if (sched.NewStudents.Contains(currentStudent))
                                {
                                    <span class="button-simulator">@Html.ActionLink("取消", "CancelLocalHelp", "LocalHelp", new { Rid = sched.Id, Sid = currentStudent.Id, returnUrl = Request.RawUrl }, new { title = "点击取消我的报名" })</span>
                                }
                                else
                                {
                                    <span class="button-simulator">@Html.ActionLink("报名", "AttendLocalHelp", "LocalHelp", new { Rid = sched.Id, Sid = currentStudent.Id, returnUrl = Request.RawUrl }, new { title = "点击我要报名参加" })</span>
                                }
                            </div>
                        }
                        @if (isAuthorizedAdmin)
                        {
                            <div style="float: left; padding-left: 20px;">
                                <span class="button-simulator">@Html.ActionLink("名单", "RegisterDetails", "LocalHelp", new { id = sched.Id }, new { title = "已经报名人员名单(仅管理员可见)" })</span>
                            </div>                        
                            <div style="float: left; padding-left: 20px;">
                                <span class="button-simulator">@Html.ActionLink("编辑", "EditRegisterEntry", "LocalHelp", new { id = sched.Id, returnUrl = Request.RawUrl }, new { title = "编辑此项" })</span>
                            </div>
                            <div style="float: left; padding-left: 20px;">
                                <span class="button-simulator"><a onclick="deleteRegisterEntry('@sched.Id', '@Request.RawUrl')">
                                    删除</a></span>
                            </div>
                            <div style="float: left; padding-left: 20px; color: Green;">
                                <span>已报名人数: @(sched.NewStudents.Count() + sched.GuestParticipants.Count())</span>
                            </div>
                        }
                        <br />
                        <br />
                    </li>
                }
            </ul>
        </div>
    }
    @if (isAuthorizedAdmin)
    {
        if (historicalregs != null && historicalregs.Count > 0)
        {
        <h4>
            过去的活动</h4>
        <div style="padding-left: 20px;">
            <ul>
                @foreach (var sched in historicalregs)
                {
                    <li style="padding-top: 10px;">
                        <p>
                            时间: @sched.Time.ToString("MM/dd/yyyy hh:mm tt")</p>
                        <p>
                            地点: @sched.Address</p>
                        <p>
                            联系人: @sched.Contact</p>
                        <div style="float: left;">
                            <span class="button-simulator">@Html.ActionLink("报名情况", "RegisterDetails", "LocalHelp", new { id = sched.Id }, null)</span>
                        </div>
                        <div style="float: left; padding-left: 20px;">
                            <span class="button-simulator"><a
                onclick="deleteRegisterEntry('@sched.Id', '@Request.RawUrl')">删除</a></span>
                        </div>
                    </li>
                }
            </ul>
        </div>
        }
    }
</div>
<div id="result">
</div>
<script type="text/javascript">
    function deleteRegisterEntry(id, returnUrl) {
        var r = confirm("Are you sure to delete this?");
        if (r == true) {
            $('#result').load('/LocalHelp/DeleteRegisterEntry/' + id, null, function () {
                window.location.href = returnUrl;
            });
        }
    }
</script>
