@model ccbs.Models.RegisterEntry
@{
    ViewBag.Title = "CreateRegisterEntry";
    ccbs.Models.LocalHelp localhelp = ViewBag.localhelp;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="content">
    <div>
        <h4 style="text-align: center;">@localhelp.Title</h4>
    </div>
    <br />
    <div class="display-content">
        @Html.Raw(localhelp.Description)
    </div>
    <br class="clearfix" />
</div>
<div class="sidebar">
    <div class="box-small-padding">
        <h4>
            新加活动日程</h4>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.LocalHelpId)
            <div class="editor-label">
                @Html.LabelFor(model => model.Time, "活动时间")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Time, DateTime.Now)
                @Html.ValidationMessageFor(model => model.Time)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Address, "活动地点")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Address, new { style = " width: 200px;" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Contact, "联系方式")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Contact, new { style = " width: 200px;" })
                @Html.ValidationMessageFor(model => model.Contact)
            </div>
            <div class="editor-field">
                <b>允许注册？</b> @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
            <p>
                <input type="submit" value="新加活动日程" style="width: 120px; background-color: Orange;" />
                | @Html.ActionLink("返回", "Manage", "LocalHelp", new { orgId = localhelp.OrganizationId }, null)
            </p>
        }
    </div>
    <div>
        <ol>
            @foreach (var reg in localhelp.RegisterEntries)
            {
                <li style="padding: 20px;">
                    <p>
                        Time: @reg.Time.ToString("MM/dd/yyyy hh:mm tt")</p>
                    <p>
                        Address: @reg.Address</p>
                    <p>
                        Contact: @reg.Contact</p>
                    <p>
                        Active: @reg.IsActive
                    </p>
                </li>
            }
        </ol>
    </div>
</div>
