@model IEnumerable<ccbs.Models.NewStudent>
@{
    ViewBag.Title = "Local Help Student List";
    ccbs.Models.LocalHelp localHelp = ViewBag.localHelp;
}
<div id="content">
    <fieldset>
        <legend>LocalHelp</legend>
        <div class="display-label">
            Title</div>
        <div class="display-field">
            @localHelp.Title
        </div>
        <div class="display-label">
            Description</div>
        <div class="display-field">
            @localHelp.Description
        </div>
        <div class="display-label">
            Time</div>
        <div class="display-field">
            @localHelp.LTime
        </div>
        <div class="display-label">
            Address</div>
        <div class="display-field">
            @localHelp.Address
        </div>
        <div class="display-label">
            Contact</div>
        <div class="display-field">
            @localHelp.Contact
        </div>
        <div class="display-label">
            Signed up Students for your group: Total: @Model.Count()</div>
        <div>
            <table>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Major
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Host Family
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Major)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @if (item.TempHouseVolunteer != null)
                            {
                                <b>@item.TempHouseVolunteer.Name<br />
                                    Phone: @item.TempHouseVolunteer.Phone</b>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </fieldset>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
