@model ccbs.Models.LocalHelp
@{
    ViewBag.Title = Model.Title + "的注册名单";
}
<div id="content-no-sidebar">
    <h4>
        注册志愿者名单&nbsp&nbsp&nbsp @Html.ActionLink("Export to Excel", "_ExportVolunteerToExcel", "LocalHelp", new { localhelpId = Model.Id }, null)
        &nbsp&nbsp&nbsp <a onclick="window.history.go(-1);return false;">返回</a></h4>
    <div>
        <table>
            <tr>
                <th>
                    姓名
                </th>
                <th>
                    性别
                </th>
                <th>
                    邮箱
                </th>
                <th>
                    手机
                </th>
                <th>
                    小组
                </th>
                <th>
                    Total:
                    @{
                        var total = Model.Volunteers.Count;
                    }
                    @total
                </th>
            </tr>
            @foreach (var item in Model.Volunteers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @ccbs.Models.SystemGender.ToStringGender(item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @if (item.Group != null)
                        {
                            <span>@item.Group.Name</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("取消帮助", "VolunteerCancelLocalHelp", "LocalHelp", new { Lid = Model.Id, Vid = item.Id, returnUrl = Request.RawUrl }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
    <br class="clearfix" />
</div>
