@model ccbs.Models.Volunteer
@{
    ViewBag.Title = "Delete";
}
<div id="content">
    <h2>
        Delete</h2>
    <h3>
        Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Volunteer</legend>
        <div class="display-label">
            Name</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-label">
            Gender</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gender)
        </div>
        <div class="display-label">
            Email</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="display-label">
            Phone</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
        <div class="display-label">
            VolunteerGroup</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.VolunteerGroup.Name)
        </div>
        <div class="display-label">
            Address</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div>
        <div class="display-label">
            Brief Introduction</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BriefIntro)
        </div>
        <div class="display-label">
            Comment</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Note)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" />
        </p>
    }
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
