@model IEnumerable<ccbs.Models.Organization>
@{
    ViewBag.Title = "Voluteers";
}
<div id="content-no-sidebar">
    <h2>
        Voluteers</h2>
    <div style="padding-top: 20px;">
        @foreach (var o in Model)
        {
            <p style="font-size: large;">
                <strong>@o.Name</strong></p>
            var grps = o.VolunteerGroups;
            foreach (var g in grps)
            {
            <p style="font-size: medium;">
                <strong>@g.Name</strong></p>
            <table>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Introduction
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in g.Volunteers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BriefIntro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id, returnUrl = Request.RawUrl })
                            |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id, returnUrl = Request.RawUrl })
                        </td>
                    </tr>
                }
            </table>
            <br />
            }
            <br />
        }
    </div>
    <div style="padding-top: 20px;">
        @Html.ActionLink("Export to Excel", "ExportVolunteerToExcel")
    </div>
    <br class="clearfix" />
</div>
