@model ccbs.Models.FacssDepartment
@{
    ViewBag.Title = "Edit";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="middle-content">
    <div class="box-small-padding">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Id)

            <div>
                <div style="float: left;">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name, "部门名称")
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div style="float: left; padding-left: 40px;">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsOpenForApply, "是否开放报名?")
                        @Html.EditorFor(model => model.IsOpenForApply)
                        @Html.ValidationMessageFor(model => model.IsOpenForApply)
                    </div>
                </div>
                <br class="clearfix" />
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Introduction, "部门简介")
            </div>
            <div class="editor-field">
                @{ Html.Telerik().Editor()
                    .Name("Introduction")
                    .Tools(tools => tools
                                .Clear()
                                .Bold().Italic().Underline().FontColor().BackColor().Indent().JustifyFull().JustifyCenter().JustifyLeft().JustifyRight().InsertOrderedList().InsertUnorderedList()
                                .Separator()
                                .CreateLink().Unlink().InsertImage()
                            )
                    .FileBrowser(t => t.Browse("Browse", "ImageBrowser")
                              .Thumbnail("Thumbnail", "ImageBrowser")
                              .Upload("Upload", "ImageBrowser")
                              .DeleteFile("DeleteFile", "ImageBrowser")
                              .DeleteDirectory("DeleteDirectory", "ImageBrowser")
                              .CreateDirectory("CreateDirectory", "ImageBrowser"))
                    .HtmlAttributes(new { style = "height:400px" })
                    .Encode(true)
                    .Render();
                }
                @Html.ValidationMessageFor(model => model.Introduction)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ApplyNotification, "注册成功后提醒")
            </div>
            <div class="editor-field">
                @{ Html.Telerik().Editor()
                    .Name("ApplyNotification")
                    .Tools(tools => tools
                                .Clear()
                                .Bold().Italic().Underline().FontColor().BackColor().Indent().JustifyFull().JustifyCenter().JustifyLeft().JustifyRight().InsertOrderedList().InsertUnorderedList()
                                .Separator()
                                .CreateLink().Unlink()
                            )
                    .HtmlAttributes(new { style = "height:400px" })
                    .Encode(true)
                    .Render();
                }
                @Html.ValidationMessageFor(model => model.ApplyNotification)
            </div>
            <p>
                <input type="submit" value="保存" style="width: 100px; background-color: Orange;" />
            </p>
        }
        <div>
            @Html.ActionLink("返回", "Index")
        </div>
    </div>
</div>
