@{
    ViewBag.Title = "System Management";
}
<div id="content">
    <h2>
        System Management</h2>
    <div class="arrowLinks">
        <ul>
            @*<li>Local Help Management</li>
            <li>@Html.ActionLink("Local Help", "Manage", "LocalHelp")</li>
            <li>@Html.ActionLink("Volunteer Register", "Manage", "CallForHelp")</li>
            <li>Activity Management</li>
            <li>@Html.ActionLink("Our Activities", "Manage", "Activity")</li>*@
            <li>志愿者和志愿者组织</li>
            <li>@Html.ActionLink("管理志愿者组织", "Index", "VolunteerOrganization")</li>
            <li>@Html.ActionLink("管理志愿者", "Index", "Volunteer")</li>
            @*<li>@Html.ActionLink("Edit Short Message", "EditShortMessage", "StudentMinistry")</li>*@
            <li>注册新同学</li>
            <li>@Html.ActionLink("Show New Students in the system", "Index", "NewStudent")</li>
            <li>@Html.ActionLink("Process Requests From Organizations", "Index", "OrgRequest")</li>
            <li>@Html.ActionLink("Assign New Students To Organizations", "AllUnassignedNewStudentList", "NewStudent")</li>
            <li>
                <button class="t-button t-state-default" onclick="NewStudentAssignedToOrg()" style="height: 40px;">
                    New Students Assigned To
                </button>
                @(Html.Telerik().DropDownList()
                                    .Name("DropDownList_Organizations")
                                    .BindTo(ViewBag.DropDownList_Organizations)
                    .HtmlAttributes(new { style = "width:300px;" })
                    .Placeholder("Select a Organization...")
                )
            </li>
            <li>@Html.ActionLink("Show registered New students", "RegisteredNewStudentList", "NewStudent")</li>
            <li>@Html.ActionLink("Show New students Help List", "NewStudentHelpList", "NewStudent")</li>
        </ul>
        <script type="text/javascript">
            function NewStudentAssignedToOrg() {
                var $org = document.getElementById("DropDownList_Organizations").value;
                if ($org.length < 1) {
                    alert('Please select an Organization.');
                    return;
                }
                window.location.href = ('/NewStudent/OrgNewStudentList?orgId=' + $org);
            }
        </script>
    </div>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
