@model ccbs.Models.BBUser
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    ViewBag.Title = Model.Name + "'s BBHome";
}
@if (!Model.IsActive)
{
    <div>
        <h4>
            Your account is not activated yet, please click the activation link we sent you
            to activate your account. If you didn't received it in your email, please
            @Html.ActionLink("click here to send it again.", "SendBBUserActivationEmail", "BBUser", new { bbUserId = Model.Id }, null)
        </h4>
    </div>
}
else
{
    <div>
        <h4>
            @Model.Name 's BBHome
        </h4>
        <div>
            <h4>
                Administration Tools</h4>
            <ul>
                <li>
                    @Html.ActionLink("My Created Activities", "ManageMyCreatedBBActivity", "BBActivity")
                </li>
                <li>
                    @Html.ActionLink("My Attended Activities", "ManageMyAttendedBBActivity", "BBActivity")
                </li>
                <li>
                    @Html.ActionLink("", "", "BBActivity")
                </li>
            </ul>
        </div>
        <div>
            <h4>
                Recent Activities</h4>
        </div>
    </div>
}
