@model ccbs.Models.BBUser
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>BBUser</legend>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        Gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>
    <div class="display-label">
        Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="display-label">
        Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
    <div class="display-label">
        Major</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Major)
    </div>
    <div class="display-label">
        Year</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>
    <div class="display-label">
        Avatar</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Avatar)
    </div>
    <div class="display-label">
        Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>
    <div class="display-label">
        Location</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>
    <div class="display-label">
        Is Active?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
