@model IEnumerable<ccbs.Models.Contact>
@{
    ViewBag.Title = "Index";
    var isAuthorizedUser = User.IsInRole(ccbs.Models.LWSFRoles.admin) || User.IsInRole(ccbs.Models.LWSFRoles.newStudentAdmin);
}
<div id="content-no-sidebar">
    <div style="margin-left: auto; margin-right: auto; width: 50%;">
        <div style=" padding-bottom: 30px; text-align: center;">
            <h4>
                联系我们</h4>
        </div>
        @if (User.IsInRole(ccbs.Models.LWSFRoles.admin))
        {
            <p>
                @Html.ActionLink("Add New", "Create")
            </p>
        }
        @foreach (var item in Model)
        {
            if (!isAuthorizedUser && !item.IsVisible)
            {
                continue;
            }
            <div class="business-card">
                <div>
                    <h4>@item.Name</h4>
                    <p>@item.Title</p>
                    @if (!String.IsNullOrEmpty(item.Email))
                    {
                        <p>
                            Email: @item.Email</p>
                    }
                    @if (!String.IsNullOrEmpty(item.Phone))
                    {
                        <p>
                            Phone: @item.Phone</p>
                    }
                </div>
                <div>
                    @if (!String.IsNullOrEmpty(item.Function))
                    {
                        <p>@item.Function</p>
                    }
                </div>
                @if (User.IsInRole(ccbs.Models.LWSFRoles.admin))
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </p>
                }
            </div>
        }
    </div>
    <br class="clearfix" />
</div>
