@model ccbs.Models.OrgRequest
@{
    ViewBag.Title = "Delete Request";
}
<div id="content">
    <h3>
        Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Delete Request</legend>
        <div class="display-label">
            NumOfNews</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NumOfNews)
        </div>
        <div class="display-label">
            Note</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Note)
        </div>
        <div class="display-label">
            Reply</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Reply)
        </div>
        <div class="display-label">
            Progress</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Progress)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" />
            |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
