@model ccbs.Models.NewStudent
@{
    Layout = null;
    string confirmedRole = ViewBag.confirmedRole;
}
<div>
    @if (confirmedRole == "student")
    {
        <p>
            Your arrival time for Dallas is close, please make sure the information you provided
            for the airport pick is correct. After you confirm, please click the following link
            to let us know your confirmation. Thank you very much.</p>
        @Html.ActionLink("确定下面信息正确无误", "StudentConfirmed", "NewStudent", "http", "www.utdbaike.com", "_blank", new { studentId = Model.Id, emailAddr = ViewBag.emailAddr, hashCode = ViewBag.hashCode }, null)
    }
    else if (confirmedRole == "pickup")
    {
        <p>
            @Model.CnName that you will help will arrive Dallas soon. Please confirm that you
            can pick him up at the airport. After you confirm, please click the following link
            to let us know your confirmation. Thank you very much.</p>
        @Html.ActionLink("I Confirm that I can pick up him", "PickupHostConfirmed", "NewStudent", "http", "www.utdbaike.com", "_blank", new { studentId = Model.Id, emailAddr = ViewBag.emailAddr, hashCode = ViewBag.hashCode }, null)
    }
    else if (confirmedRole == "housing")
    {
        <p>
            @Model.CnName that you will help will arrive Dallas soon. Please confirm that you
            can offer him/her the temporary housing. After you confirm, please click the following
            link to let us know your confirmation. Thank you very much.</p>
        @Html.ActionLink("I Confirm that I can offer temporary housing", "HousingHostConfirmed", "NewStudent", "http", "www.utdbaike.com", "_blank", new { studentId = Model.Id, emailAddr = ViewBag.emailAddr, hashCode = ViewBag.hashCode }, null)
    }
    else if (confirmedRole == "confirmed")
    {
        <p>
            Confirmed successfully! We have received your confirmation. Thank you very much.</p>
    }
</div>
<br />
<div>
    @{Html.RenderPartial("_ImportantDetails", Model);}
</div>
