@model ccbs.Models.NewStudent
@{
    Layout = null;
}
<div>
    <h4>
        @Model.CnName 的最新信息
    </h4>
    <div class="display-label">
        姓名</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        航班号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Flight)
    </div>
    <div class="display-label">
        到达时间</div>
    <div class="display-field">
        @Model.ArrivalTime.ToString("MM/dd/yyyy hh:mm tt")
    </div>
    <div class="display-label">
        是否需要接机？</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NeedPickup)
    </div>
    <div class="display-label">
        是否需要临住？</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NeedTempHousing)
    </div>
    <div class="display-label">
        备注</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>
</div>
