@model ccbs.Models.NewStudent
<h4 class="box-head">
    已经报名的Local Help</h4>
<br />
<div>
    <p style="color: Orange;">
        Hi, 在你来到美国后，我们将为你提供一些 @Html.ActionLink("Local Help", "Index", "LocalHelp", null, null)（办手机，银行账号，购买生活用品...），请及时的关注我们提供的
        @Html.ActionLink("Local Help", "Index", "LocalHelp", null, null), 如果您想参加，一定要先报名</p>
</div>
<div style="font-size: small; padding-top: 20px;">
    <table>
        <tr>
            <th>
                活动名称
            </th>
            <th>
                日程安排
            </th>
            <th>
                操作
            </th>
        </tr>
        @foreach (var item in Model.RegisterEntries.OrderBy(r => r.Time).ToList())
        {
            <tr>
                <td>
                    @Html.ActionLink(item.LocalHelp.Title, "LocalhelpDetails", "LocalHelp", new { id = item.LocalHelp.Id }, new { title = "点击查看详细介绍" })
                </td>
                <td>
                    <p>
                        时间: @item.Time.ToString("MM/dd/yyyy hh:mm tt")</p>
                    <p>
                        地点: @item.Address</p>
                    <p>
                        联系人: @item.Contact</p>
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span class="button-simulator">@Html.ActionLink("取消", "CancelLocalHelp", "LocalHelp", new { Rid = item.Id, Sid = Model.Id, returnUrl = Request.RawUrl }, new { title = "点击取消我的报名" })</span>
                    }
                    else
                    {
                        <span>NA</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>
