@model ccbs.Models.NewStudent
@{
    ViewBag.Title = "Delete";
}
<div id="content">
    <h2>
        Delete</h2>
    <h3>
        Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>NewStudent</legend>
        <div class="display-label">
            Name</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-label">
            Gender</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gender)
        </div>
        <div class="display-label">
            Email</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="display-label">
            Phone</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
        <div class="display-label">
            Major</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Major)
        </div>
        <div class="display-label">
            Year</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Year)
        </div>
        <div class="display-label">
            Term</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Term)
        </div>
        <div class="display-label">
            ArrivalTime</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ArrivalTime)
        </div>
        <div class="display-label">
            Flight</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Flight)
        </div>
        <div class="display-label">
            NeedPickup</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NeedPickup)
        </div>
        <div class="display-label">
            NeedTempHousing</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NeedTempHousing)
        </div>
        <div class="display-label">
            Note</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Note)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" />
            |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
