@model ccbs.Models.NewStudent
@{
    ViewBag.Title = "Offer help to other students";
}
<div id="content">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Offer help to other students</legend>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.RegTime)
            @Html.HiddenFor(model => model.Year)
            @Html.HiddenFor(model => model.Term)
            @Html.HiddenFor(model => model.EntryPort)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.CnName)
            @Html.HiddenFor(model => model.ComeFrom)
            @Html.HiddenFor(model => model.Gender)
            @Html.HiddenFor(model => model.Phone)
            @Html.HiddenFor(model => model.Major)
            @Html.HiddenFor(model => model.ArrivalTime)
            @Html.HiddenFor(model => model.Flight)
            @Html.HiddenFor(model => model.NeedPickup)
            @Html.HiddenFor(model => model.NeedTempHousing)
            @Html.HiddenFor(model => model.Note)
            @Html.HiddenFor(model => model.Marked)
            <div class="editor-label">
                @Html.LabelFor(model => model.HasApt, "Do you already find an apartment?")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HasApt)
                @Html.ValidationMessageFor(model => model.HasApt)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.WhenApt, "When will you move in?")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WhenApt)
                @Html.ValidationMessageFor(model => model.WhenApt)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.WhereApt, "Where is your apartment(optional)?")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.WhereApt)
                @Html.ValidationMessageFor(model => model.WhereApt)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.WillingToHelp, "Are you willing to help others?")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WillingToHelp)
                @Html.ValidationMessageFor(model => model.WillingToHelp)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.HelpNote, "Do you have any note about the help?")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.HelpNote)
                @Html.ValidationMessageFor(model => model.HelpNote)
            </div>
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
