@model ccbs.Models.NewStudent
@{
    ViewBag.Title = "我的首页";
    bool emailWarning = ViewBag.emailWarning;
}
<div id="content-no-sidebar">
    <h3 style="text-align: center; color: Gray;">
        我的首页</h3>
    <br class="clearfix" />
    <div id="volunteer-details" style="float: left; padding-top: 30px; width: 250px;">
        <div class="box-small-padding">
            <h4 class="box-head">
                个人信息
            </h4>
            <br />
            <p>
                姓名: @Model.CnName<br />
                性别: @ccbs.Models.SystemGender.ToStringGender(Model.Gender)<br />
                邮箱: @Model.Email<br />
                手机: @Model.Phone<br />
                航班：@Model.Flight<br />
                到达: @Model.ArrivalTime.ToString("MM/dd/yyy hh:mm tt")<br />
            </p>
            @if (ViewBag.flightWarning != null)
            {
                <p style="color: Red;">
                    Warning!!! 系统检测到您的航班号有明显的错误：@ViewBag.flightWarning 请及时的更正！</p>
            }
            @if (emailWarning)
            {
                <p style="color: Red;">
                    Warning!!! 系统检测到您的邮箱有误，请及时的更正，以方便您的接机和临住！</p>
            }
            <p style="color: Gray;">
                （如有信息更改，请及时更新！)</p>
            @if (Model.Confirmed == ccbs.Models.ConfirmedStage.UnConfirmed)
            {
                <div style="color: Red;">
                    <br />
                    <p>
                        重要：您的个人信息尚未再次确认，请点击 @Html.ActionLink("这里", "Details", new { id = Model.Id }) 再次确认</p>
                </div>
            }
            <br />
            <p style="color: Orange;">
                提醒: 今年将有很多新生来到UTD, 现在UTD周边每个租房地方房源异常的紧张，强烈建议大家在来美国之前定好房子，关于租房我们的UTD百科里面已经收集最新的信息</p>
            <br />
            <div style="float: left; padding-right: 20px;">
                @Html.ActionLink("编辑信息", "Edit", "NewStudent", new { id = Model.Id, returnUrl = Request.RawUrl }, null)
            </div>
            <div>
                @Html.ActionLink("修改密码", "ChangePassword", "Account")
            </div>
        </div>
    </div>
    <div style="padding-top: 30px; padding-left: 20px; float: right; width: 220px;">
        <div class="box-small-padding">
            <div class="arrowLinks">
                <h4 class="box-head">
                    常用链接
                </h4>
                <br />
                <ul>
                    <li>@Html.ActionLink("给新同学的第一封信", "Details", "EmailRecord", new { id = 1 }, null)
                    </li>
                    <li>
                        @Html.ActionLink("UTD生活百科", "Index", "Article")
                    </li>
                </ul>
            </div>
        </div>
        <div id="display-questions">
            @{Html.RenderAction("NewStudentAskQuestion", "QandA", null);}
        </div>
    </div>
    <div style="padding-top: 30px; float: right; width: 530px;">
        <div class="box-small-padding">
            @{
                var lower = DateTime.Now.AddDays(-10);
                var upper = DateTime.Now.AddDays(10);
                if ((DateTime.Compare(Model.ArrivalTime, upper) < 0))
                {
                <div style="padding-bottom: 20px;">
                    @{Html.RenderPartial("_LocalHelp", Model);}
                </div>
                }
                if ((DateTime.Compare(Model.ArrivalTime, lower) > 0))
                {
                <div>
                    @{Html.RenderPartial("_PickupStatus", Model);}
                </div>
                }
            }
        </div>
    </div>
</div>
