@model IEnumerable<ccbs.Models.Group>
@{
    Layout = null;
}
<h4>
    志愿者小组</h4>
<br />
<p>
    @Html.ActionLink("新建", "OrgCreate", "VolunteerGroup", new { orgId = ViewBag.orgId }, null)
</p>
<table>
    <tr>
        <th>
            名字
        </th>
        <th>
            简介
        </th>
        <th>
            组长
        </th>
        <th>
            注册码
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Leader != null)
                {
                    @Html.DisplayFor(modelItem => item.Leader.Name) <span> | </span>
                    @Html.ActionLink("更改", "SetGroupLeader", "VolunteerGroup", new { grpId = item.Id, returnUrl = Request.RawUrl }, null)
                }
                else
                {
                    @Html.ActionLink("设置", "SetGroupLeader", "VolunteerGroup", new { grpId = item.Id, returnUrl = Request.RawUrl }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passcode)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", "VolunteerGroup", new { id = item.Id, returnUrl = Request.RawUrl }, null)|
                @Html.ActionLink("删除", "Delete", "VolunteerGroup", new { id = item.Id, returnUrl = Request.RawUrl }, null)|
                @Html.ActionLink("详细", "Details", "VolunteerGroup", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
