@model IEnumerable<ccbs.Models.Organization>
@{
    ViewBag.Title = "提供接机和临住的志愿者机构";
}
<div id="content-no-sidebar">
    <h2>
        提供接机和临住的志愿者机构</h2>
    <p>
        @Html.ActionLink("新建", "Create")
    </p>
    <table>
        <tr>
            <th>
                名字
            </th>
            <th>
                简介
            </th>
            <th>
                志愿者的组织模式
            </th>
            <th>
                PassCode
            </th>
            <th>
                负责人
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @ccbs.Models.OrgModelType.ToString(item.ModelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passcode)
                </td>
                <td>
                    @if (item.OrgLeader != null)
                    {
                        @Html.DisplayFor(modelItem => item.OrgLeader.Name)<br />
                        @Html.ActionLink("更改", "SetOrgLeader", "VolunteerOrganization", new { orgId = item.Id, returnUrl = Request.RawUrl }, null)
                    }
                    else
                    {
                        @Html.ActionLink("设置", "SetOrgLeader", "VolunteerOrganization", new { orgId = item.Id, returnUrl = Request.RawUrl }, null)
                    }
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id, returnUrl = Request.RawUrl })
                    | @Html.ActionLink("删除", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("管理", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    <br class="clearfix" />
</div>