@model ccbs.Models.Question
@{
    Layout = null;
    bool IsPreviliged = (User.IsInRole(ccbs.Models.MyRoles.baikeQandA) || User.IsInRole(ccbs.Models.LWSFRoles.admin));
    char[] QuesStr = { '.', '.', '.', '.', '.', '.' };
    var questionUsernamearray = Model.UserName.ToArray();
    QuesStr[0] = questionUsernamearray[0];
    QuesStr[1] = questionUsernamearray[1];
    QuesStr[5] = questionUsernamearray[questionUsernamearray.Length - 1];
    string qestionUsername = new string(QuesStr);
}
<div>
    <div class="display-field" style="font-size: medium;">
        <span style="color: Blue;">@qestionUsername 提问</span>&nbsp&nbsp<span style="color: Orange;"><b>点击量:
            @Model.VisitCount</b>&nbsp&nbsp&nbsp<a id="LikeQuestion" onclick="updateLikeQuestionCnt(@Model.Id)">
                <img src="../../Content/oceania/images/like.jpg" alt="Like" />
            </a>&nbsp<b id="likeQuestionCount">
                @Model.LikeCount
            </b></span>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="display-field" style="font-size: small;">
        @Html.DisplayFor(model => model.MainContent)
    </div>
</div>
<br />
<div>
    @using (Ajax.BeginForm("CreateAnswer", "QandA", new { questionId = Model.Id }, new AjaxOptions { OnComplete = "CreateAnswer_OnComplete" }))
    {
        <div class="editor-label">
            <h4 style="font-size: small; color: Blue;">
                回复该问题</h4>
        </div>
        <div class="editor-field">
            @Html.TextArea("MainContent", "", new { style = "width: 300px; height: 100px;" })
        </div>
        <p>
            <input type="submit" value="回复" />
        </p>
    }
</div>
<div>
    @if (Model.Answers != null && Model.Answers.Count > 0)
    {
        <br />
        <h4 style="color: Blue;">
            已有回答</h4>
        foreach (var ans in Model.Answers.OrderByDescending(a => a.LastUpdate))
        {
            char[] str = { '.', '.', '.', '.', '.', '.' };
            var usernamearray = ans.UserName.ToArray();
            str[0] = usernamearray[0];
            str[1] = usernamearray[1];
            str[5] = usernamearray[usernamearray.Length - 1];
            string username = new string(str);
            string LikeAnswer = "LikeAnswer" + ans.Id.ToString();
            string LikeAnswerCount = "LikeAnswerCount" + ans.Id.ToString();
        <div style="border: dotted 2px rgb(230, 233, 249); font-size: small;">
            <b style="color: Blue;">
                @username 回复: </b>&nbsp&nbsp<span style="color: Orange;"><a id="@LikeAnswer" onclick="updateLikeAnswerCnt(@ans.Id)">
                    <img src="../../Content/oceania/images/like.jpg" alt="Like" />
                </a>&nbsp <b id="@LikeAnswerCount">
                    @ans.LikeCount
                </b></span>&nbsp&nbsp
            @if (IsPreviliged)
            {
                <span>&nbsp&nbsp&nbsp <a onclick="DeleteAnswer('@ans.Id', '@Model.Id')">删除</a></span>
            }
            <br />
            <p>@ans.MainContent</p>
        </div>
        }
    }
</div>
<script type="text/javascript">
    function updateLikeQuestionCnt(questionId) {
        $('#likeQuestionCount').load('/QandA/UpdateQuestionLikeCount?questionId=' + questionId, function () {
            document.getElementById("LikeQuestion").onclick = function () { alert("You've already like it!") };
        });
    }
    function updateLikeAnswerCnt(answerId) {
        $('#LikeAnswerCount' + answerId).load('/QandA/UpdateAnswerLikeCount?answerId=' + answerId, function () {
            document.getElementById("LikeAnswer" + answerId).onclick = function () { alert("You've already like it!") };
        });
    }
</script>
