@model ccbs.Models.Coworker
@{
    ViewBag.Title = Model.Name;
}
<div id="content">
    <p>
        @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("返回", "Index")
    </p>
    <fieldset>
        <legend>@Model.Name</legend>
        <div class="display-label">
            性别</div>
        <div class="display-field">
            @if (Model.Gender == ccbs.Models.Gender.singleMale)
            {
                <span>男</span>
            }
            else if (Model.Gender == ccbs.Models.Gender.singleFemale)
            {
                <span>女</span>
            }
            else
            {
                <span>家庭</span>
            }
        </div>
        <div class="display-label">
            邮箱</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="display-label">
            手机</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
        <div class="display-label">
            自我简介</div>
        <div class="display-field">
            <textarea rows="20" cols="80" readonly="readonly" class="text-area-display">@Model.SelfIntro</textarea>
        </div>
        <div class="display-label">
            见证分享</div>
        <div class="display-field">
            <textarea rows="20" cols="80" readonly="readonly" class="text-area-display">@Model.Testimony</textarea>
        </div>
        <div class="display-label">
            心意更新</div>
        <div class="display-field">
            <textarea rows="20" cols="80" readonly="readonly" class="text-area-display">@Model.MindRenew</textarea>
        </div>
        <div class="display-label">
            团契服侍</div>
        <div class="display-field">
            <textarea rows="20" cols="80" readonly="readonly" class="text-area-display">@Model.Service</textarea>
        </div>
        <div class="display-label">
            服侍起始日期</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BeginDate)
        </div>
        <div class="display-label">
            离开团契日期(若仍在团契就留空白)</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LeaveDate)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("返回", "Index")
    </p>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
