@model IEnumerable<ccbs.Models.Coworker>
@{
    ViewBag.Title = "我们的同工";
    bool IsPrivileged = User.IsInRole(ccbs.Models.LWSFRoles.admin);
}
<div id="content">
    <h2 style="text-align: center;">
        我们的同工</h2>
    <div id="coworker-list">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <div id="coworker-profile-title">
                        <div style="text-align: center;">
                            <h4>
                                @Html.ActionLink(item.Name, "Profile", new { id = item.Id }) 
                                @if (IsPrivileged)
                                {
                                    <span>@Html.ActionLink("详细", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("删除", "Delete", new { id = item.Id })</span>
                                }</h4>
                        </div>
                    </div>
                    <div id="coworker-profile-selfphoto">
                       <a href="Profile/@item.Id"><img src="@item.SelfPhoto" alt="@item.Name" width="300"/></a>
                    </div>
                    <div id="coworker-profile-intro">
                        @Html.TextAreaFor(modelItem => item.SelfIntro, new { @class = "text-area-coworker-profile-intro", @readonly = "readonly" })
                        <br />@Html.ActionLink("More...", "Profile", new { id = item.Id }) 
                    </div>
                    <br class="clearfix" />
                </li>
            }
        </ul>
    </div>
    <br class="clearfix" />
</div>
<div>
    @{Html.RenderPartial("_Sidebar");}
</div>
